body {
	font-family: Helvetica, Garamond, sans-serif;
	width: 100%;
}

p, section {
	text-align: center;
}

ul {
	list-style-type: none;
	padding: 0;
}

.frontimgs {
	margin: auto;
	padding: auto;
	width: 90%;
	text-align: center;
	height: auto;
	margin-bottom: 0;
}
.oneimg {
	margin: 0;
	padding: 0;
	display: inline-block;
}
@media only screen and (max-width: 600px) {
	.oneimg {
		display: block;
	}
}

.frontimgs img {
	margin: 5 10 5 10;
	width: 200px;
}

.container {
}

.header {
}

.logo {
	margin-top: 10px;
	color: orange;
	font-family: Optima, Futura, Helvetica, serif;
	font-size: 52px;
	text-align: center;
	margin-bottom: 0px;
}
/*@media only screen and (max-width: 500px) {
	.logo {
		text-align: justify;
		margin-left: 10%;
	}
}*/

.logo-box {
	display: inline;
	padding: 0 22 0 22;
	border-radius: 15px;
	background-color: orange;
}

.menu-item, .menu-login {
	padding-top: 3%;
}

.menu-item {
	font-size: 20px;
}

.main {
	text-align: center;
	line-height: 1.8em;
}

.footer {
	text-align: center;
	margin-top: 10%;
}