body {
	font-family: Helvetica, Garamond, sans-serif;
	width: 100%;
}

h2 {
	margin-bottom: -2px;
}

p {
	text-align: center;
}

.container {
}

.header {
}

.logo-icon {
	color: #CCCCCC;
	font-size: 60px;
}

.logo-text {
	color: gray;
	font-family: "Brush Script MT", "Arial Rounded MT Bold", Optima, Futura, serif;
	font-size: 60px;
}

.menu-item, .menu-login {
	padding-top: 3%;
}

.menu-item {
	font-size: 20px;
}

.main {
	text-align: center;
	line-height: 1.8em;
}

.footer {
	text-align: center;
	margin-top: 10%;
}